<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts>doNotLoveIts,
                'list-group-item-danger': loveIts<doNotLoveIts}">
  <div class="row">
    <div class="col">
      <h2 style="display:inline;">{{title}}</h2>
    </div>
    <div class="col">
      posté le {{created_at | date : 'short'}} 
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
        {{content}}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-success" (click)="onLoveIts()">{{loveIts}} Love it!</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="onDontLoveIts()">{{doNotLoveIts}} Do not love it!</button>
    </div>
    </div>
</li>
